@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-2xl: 3235px;
  --breakpoint-xl: 1279px;
  --breakpoint-lg: 1023px;
  --breakpoint-md: 767px;
  --breakpoint-sm: 639px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-100-alpha: var(--brand-100-alpha);
  --color-brand-200-alpha: var(--brand-200-alpha);
  --color-base-100: var(--base-color-100);
  --color-base-150: var(--base-color-150);
  --color-base-200: var(--base-color-200);
  --color-base-250: var(--base-color-250);
  --color-base-300: var(--base-color-300);
  --color-base-400: var(--base-color-400);
  --color-base-500: var(--base-color-500);
  --color-base-600: var(--base-color-600);
  --color-base-800: var(--base-color-800);
  --color-warning-color-100: var(--warning-color-100);
  --brand-backdrop: var(--brand-gradient);
  --color-accent-alpha: #ffffff40;
  --color-accent-alpha-lighter: #ffffff20;
  --breakpoint-sm: 3235px;
  --breakpoint-md: 1279px;
  --breakpoint-lg: 1023px;
  --breakpoint-xl: 767px;
  --breakpoint-2xl: 639px;
}

:root {
  --radius: 0.625rem;
  --background: #111111;
  --foreground: #b8b8b8;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #2b2b2b;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --brand-100: #8cffd5;
  --brand-200: #1bf3a4;
  --brand-100-alpha: #8cffd540;
  --brand-200-alpha: #1bf3a440;
  --brand-gradient: linear-gradient(
    90deg,
    rgba(27, 243, 164, 0.15) 0%,
    rgba(140, 255, 213, 0.15) 100%
  );
  --base-color-100: #111111;
  --base-color-150: #131313;
  --base-color-200: #151515;
  --base-color-250: #191919;
  --base-color-300: #1d1d1d;
  --base-color-400: #2b2b2b;
  --base-color-500: #393939;
  --base-color-600: #4f4f4f;
  --base-color-800: #b8b8b8;

  --warning-color-100: #200111;
}

.navy {
  --radius: 0.625rem;
  --background: #101828;
  --foreground: #b8b8b8;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --brand-100: #8cffd5;
  --brand-200: #1bf3a4;
  --brand-100-alpha: #8cffd540;
  --brand-200-alpha: #1bf3a440;
  --brand-gradient: linear-gradient(
    90deg,
    rgba(27, 243, 164, 0.15) 0%,
    rgba(140, 255, 213, 0.15) 100%
  );
  --base-color-100: #101828;
  --base-color-200: #141c31;
  --base-color-300: #1b2333;
  --base-color-400: #2a334c;
  --base-color-500: #38415a;
  --base-color-600: #4e576f;
  --base-color-800: #b8b8b8;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility skeleton {
  animation: skeletonWave 1.3s linear infinite;
  background-repeat: repeat;
  background-size: 1000px;
  background-position-x: 0;
  background-image: linear-gradient(
    90deg,
    #2b2b2b 0%,
    #393939 25%,
    #393939 50%,
    #2b2b2b 100%
  );
}

@utility disable-scroll-bar {
	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background-color: #fff0;
	}
}

@utility max-w-content {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1512px;
  width: 100%;
}

@utility ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@keyframes skeletonWave {
  0% {
    background-position-x: -500px;
  }
  100% {
    background-position-x: 500px;
  }
}
